In [67]:
import math
import random
import csv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_wine
from sklearn.datasets import load_iris
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score as asc

In [116]:
wine = load_wine()

In [117]:
data = wine.data
feature = wine.feature_names
target_name = wine.target_names
target = wine.target

In [118]:
dict = {
    "alcohol" : data[:,0] , 
    "malic_acid" : data[:,1] ,
    "ash" : data[:,2] ,
    "alcalinity_of_ash" : data[:,3] ,
    "magnesium" : data[:,4] ,
    "total_phenols" : data[:,5] ,
    "flavanoids" : data[:,6] ,
    "nonflavanoid_phenols" : data[:,7] ,
    "proanthocyanins" : data[:,8] ,
    "color_intensity" : data[:,9] ,
    "hue" : data[:,10] ,
    "od280/od315_of_diluted_wines" : data[:,11] ,
    "proline" : data[:,12] ,
    "Target" : target
}

In [119]:
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [120]:
df.columns = wine.feature_names
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95.0,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740.0
174,13.40,3.91,2.48,23.0,102.0,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750.0
175,13.27,4.28,2.26,20.0,120.0,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835.0
176,13.17,2.59,2.37,20.0,120.0,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840.0
177,14.13,4.10,2.74,24.5,96.0,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560.0

In [121]:
X_train, X_test, y_train, y_test = train_test_split(data,target,test_size=0.2)

In [122]:
clf = SVC(kernel = 'linear')

In [123]:
clf.fit(X_train,y_train)
pred = clf.predict(X_test)

In [124]:
cmp = pd.DataFrame(y_test)
cmp['SVM'] = pred
cmp.head()

   0  SVM
0  1    1
1  1    1
2  0    0
3  1    1
4  1    1

In [125]:
asc(y_test,pred)

1.0

In [126]:
from sklearn.decomposition import PCA

In [142]:
pca = PCA(n_components = 4)
df_pca = pca.fit_transform(df)
df_pca = pd.DataFrame(df_pca)
data = df_pca
df_pca.head()

            0          1         2         3
0  318.562979  21.492131  3.130735 -0.250114
1  303.097420  -5.364718  6.822835 -0.864035
2  438.061133  -6.537309 -1.113223  0.912411
3  733.240139   0.192729 -0.917257 -0.541251
4  -11.571428  18.489995 -0.554422  1.360896

In [143]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size = 0.2, stratify = target, random_state = 30)

In [144]:
clf.fit(X_train, y_train)
pred1 = clf.predict(X_test)

In [145]:
cmp['SVM_PCA'] = pred1
cmp.head()

   0  SVM  SVM_PCA
0  1    1        2
1  1    1        2
2  0    0        1
3  1    1        1
4  1    1        0

In [146]:
asc(y_test, pred1)

0.9722222222222222

In [147]:
from sklearn.discriminant_analysis.LinearDiscriminantAnalysis

NameError: name 'sklearn' is not defined