In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random 
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier

In [21]:
data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [22]:
cabin = data["Cabin"]
count = 0
for i in range(len(cabin)):
    # print(cabin[i])
    if(cabin[i] == "nan"):
        count = count + 1
print(count)

0

In [23]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [24]:
data = data.drop(['PassengerId', 'Name', 'Ticket', 'Fare', 'Embarked', 'Cabin'], axis = 'columns')
data

     Survived  Pclass     Sex   Age  SibSp  Parch
0           0       3    male  22.0      1      0
1           1       1  female  38.0      1      0
2           1       3  female  26.0      0      0
3           1       1  female  35.0      1      0
4           0       3    male  35.0      0      0
..        ...     ...     ...   ...    ...    ...
886         0       2    male  27.0      0      0
887         1       1  female  19.0      0      0
888         0       3  female   NaN      1      2
889         1       1    male  26.0      0      0
890         0       3    male  32.0      0      0

[891 rows x 6 columns]

In [25]:
label_encoder = preprocessing.LabelEncoder()
ss = preprocessing.StandardScaler()

In [26]:
label_encoder = preprocessing.LabelEncoder()
le = label_encoder.fit_transform(data['Sex'])
data.Sex = le
data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch
0         0       3    1  22.0      1      0
1         1       1    0  38.0      1      0
2         1       3    0  26.0      0      0
3         1       1    0  35.0      1      0
4         0       3    1  35.0      0      0

In [27]:
age = data['Age'].dropna()
age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
885    39.0
886    27.0
887    19.0
889    26.0
890    32.0
Name: Age, Length: 714, dtype: float64

In [28]:
med = np.median(age)
med

28.0

In [29]:
age.fillna(med, inplace=True)
data.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
dtype: int64

In [35]:
# model = LinearRegression()
# X = data[['Parch','Pclass','Sex','Age','SibSp']]
# Y = data[['Survived']]
# X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, )
# reg = model.fit(X_train, Y_train)
# print(model.score(X_test, Y_test))

In [36]:
model_2 = RandomForestClassifier()
X2 = data[['Parch','Pclass','Sex','Age','SibSp']]
Y2 = data[['Survived']]
X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2,Y2, test_size=0.2, )
reg_2 = model_2.fit(X2_train, Y2_train)
print(model_2.score(X2_test, Y2_test))

0.8212290502793296

C:\Users\mohit\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)